.messages {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.message {
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.text {
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    color: #333;
}

.user {
    font-size: 14px;
    color: rgb(176, 176, 176);
}


.user {
    align-items: flex-start;
}

.user .text {
    background: #fdffff;
    box-shadow: 0px 0px 12px -18px rgba(0,0,0,0.75);
}

.user .user {
    padding-left: 10px;
}

.me {
    align-items: flex-end;
}

.me .text {
    background: #467eff;
    color: #fafafa;
}

.me .user {
    padding-right: 10px;
}
.adminText{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminText .user {
    color: rgb(119, 117, 117);
}
.adminText .text{
    background-color: transparent;
    border-radius: 0;
    color: rgb(176, 176, 176);
}